@use "../../assets/variables.scss" as *;

// .filter {
//   height: 50vh;
//   width: 100%;
//   background-color: pink;
//   padding: 5px;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   border: solid 2px black;

//   &__searchBox {
//     display: flex;
//     flex-direction: row;
//     margin: 10px 0;
//   }

//   &__checkBoxes {
//     margin: 10px 0;
//   }

//   &__dropDown {
//     margin: 10px 0;
//   }

//   &__slider {
//     margin: 10px 0;
//   }
// }

.filter {
  display: flex;
  flex-direction: column;
  width: 100vw;

  &__heading {
    width: 100%;
  }
  &__selectors {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
