* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color-dark: #222;
$color-body: #ccc;
$color-background: white;
$color-background: #838774;


.wrapper{display: flex;
flex-direction: column;
margin-left: auto;}

