@use "../../assets/variables.scss" as *;

.beerCard {
  border: 2px solid black;
  height: 280px;
  aspect-ratio: auto 1/1;
  background: pink;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: 10% 1fr 10%;
  box-sizing: border-box;

  &__result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90%;
    grid-area: 2/2/4/3;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;

    &-name {
      color: $color-white;
      text-align: center;
      font-size: 25px;
      padding: 15px 15px;
      flex-basis: auto;
    }

    &-image {
      height: 40%;
      flex-shrink: 2;
    }

    &-abv {
      color: $color-white;
      font-size: 20px;
      font-weight: bold;
      flex-basis: auto;
    }
  }
}

.beerCardClick {
  border: 2px solid black;
  height: 280px;
  aspect-ratio: auto 1/1;
  background: pink;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &__resultClick {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    overflow-y: auto;

    h5,
    h6 {
      margin: 5px 0;
    }

    p {
      text-align: justify;
      text-justify: inter-word;
      margin: 5px 10px;
    }
  }
}

.ticker {
  grid-area: 1/2/2/3;
  white-space: nowrap;
  overflow-x: hidden;
  background-color: white;
  margin: 10px 0;
  width: 100%;
  text-align: center;
}
