@use "../../assets/variables.scss" as *;

.beerCard {
  border: 2px solid black;
  height: 300px;
  aspect-ratio: auto 1/1;
  background: pink;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: 10% 1fr 10%;

  &__result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90%;
    grid-area: 2/2/3/3;

    &-name {
      color: $color-white;
      text-align: center;
    }

    &-image {
      width: 18%;
    }

    &-abv {
      color: $color-white;
    }
  }
}

.ticker {
  grid-area: 1/2/2/3;
  white-space: nowrap;
  overflow-x: hidden;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  width:90%;

}
