@use "../../assets/_variables.scss" as *;

.beerCard {
  border: 2px solid black;
  height: $card-width;
  width: $card-width;
  background: pink;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: 10% 1fr 10%;
  box-sizing: border-box;

  &__result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90%;
    width: 100%;
    grid-area: 2/2/4/3;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;

    &-name {
      color: $color-white;
      text-align: center;
      padding: 15px 15px;
      flex-basis: auto;
      font-size: 1.2rem;

      h1 {
        text-size-adjust: auto;
        max-height: 5vh;
      }
    }

    &-body {
      display: flex;
      flex-direction: row;
      justify-items: space-between;
      align-items: center;
      height: 80%;

      &-ph {
        color: $color-white;
        font-size: 20px;
        font-weight: bold;
        padding-left: 20px;
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-tb;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
      }

      &-image {
        border: 2px white solid;
        padding: 20px;
        background: wheat;
        height: 80%;

        image {
          height: 100%;
          width: 100%;
        }
      }

      &-abv {
        color: $color-white;
        font-size: 20px;
        font-weight: bold;
        writing-mode: vertical-rl;
        padding-left: 20px;
      }
    }
  }
}

.beerCardClick {
  border: 2px solid black;
  width: $card-width;
  height: $card-width;
  background: pink;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &__resultClick {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;

    h5,
    h6 {
      margin: 5px 0;
    }

    p {
      text-align: justify;
      text-justify: inter-word;
      margin: 5px 10px;
    }
  }
}

.ticker {
  grid-area: 1/2/2/3;
  white-space: nowrap;
  overflow-x: hidden;
  background-color: white;
  margin: 10px 0;
  width: 100%;
  text-align: center;
}
